@using Bookstore.MvcUI.ViewModels.Incoming;
@model IEnumerable<UserCartDetails>
@{
    ViewData["Title"] = "User cart";
}

<div class="container my-4">
    @if (Model.Any())
    {
        <h2 class="text-center mb-4">My Cart</h2>
        <table class="table-info">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Unit Price (INR)</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.BookImageURL" style="width:80px;height:100px" />
                        </td>
                        <td>@item.BookName</td>
                        <td>@item.UnitPrice X @item.Quantity</td>
                        <td>@((item.UnitPrice * item.Quantity).ToString("c"))</td>
                        <td>
                            <a class="btn btn-info rounded-pill px-3 py-2" href="/Cart/AddItem?id=@item.BookId">+</a>
                            <a class="btn btn-info rounded-pill px-3 py-2" href="/cart/Removeitem?id=@item.BookId">-</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-4">
            <h4 class="d-inline-block">Total sum: </h4>
            <h4 class="d-inline-block">@Model.Select(item => item.UnitPrice * item.Quantity).Sum().ToString("c")</h4>
        </div>

        <div class="mt-4">
            <a class="btn btn-secondary" href="/Book">Continue shopping</a>
            <a class="btn btn-primary" href="/Order/CreateOrder">Checkout</a>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-6 offset-3 alert alert-secondary text-center">
                <h2 class="text-muted font-weight-bold">Cart is empty</h2>
                <hr />
                <p class="text-muted">You need to add something to your cart</p>
                <div class="text-center">
                    @Html.ActionLink("Continue shopping", "Index", "Book", null, new { @class = "btn btn-secondary btn-sm mt-3 mx-auto d-block" })
                </div>
            </div>
        </div>
    }
</div>