@using Bookstore.MvcUI.ViewModels.Incoming;
@model IEnumerable<UserCartDetails>
@{
    ViewData["Title"] = "User cart";
}

<div class="container my-4">

    <h2 class="text-center mb-4">My Cart</h2>

    @if (Model.Any())
    {
        <table class="table-cart">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Book</th>
                    <th>Unit Price (INR)</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.BookImageURL" style="width:80px;height:100px" />
                        </td>
                        <td>@item.BookName</td>
                        <td>@item.UnitPrice X @item.Quantity</td>
                        <td>@(item.UnitPrice * item.Quantity)</td>
                        <td>
                            <a class="btn btn-info rounded-pill px-3 py-2" href="/Cart/AddItem?id=@item.BookId">+</a>
                            <a class="btn btn-info rounded-pill px-3 py-2" href="/cart/Removeitem?id=@item.BookId">-</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="mt-4">
            <h4 class="d-inline-block">Total sum: </h4>
            <h4 class="d-inline-block">@Model.Select(item => item.UnitPrice * item.Quantity).Sum()</h4>
        </div>

        <div class="mt-4">
            <a class="btn btn-secondary" href="/Book">Continue shopping</a>
            <a class="btn btn-primary" href="/Cart/Checkout">Checkout</a>
        </div>
    }
    else
    {
        <p class="text-muted text-center my-5">Cart is empty.</p>
    }
</div>